<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tave_android">

    <!-- Permission 권한 -->
    <!-- android.permission.INTERNET 은 일반 권한을 말함 -->
    <!-- Manifest 에 명세 해주는 것 만으로 사용할 수 있다 -->
    <uses-permission android:name="android.permission.INTERNET " /> <!-- 위험 권한 - Manifest 에도 명세 하고 코드 에서도 한번 더 확인 필요 (개인 정보와 관련된 권한은 모두 위험 권한) -->
    <uses-permission android:name="android.permission.CAMERA " />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TAVE_Android"
        tools:targetApi="31">
        <activity
            android:name=".DesignActivity"
            android:exported="false" />
        <activity
            android:name=".permission.PermissionActivity"
            android:exported="false" />
        <activity
            android:name=".intent_design_Prac.ProgressbarActivity"
            android:exported="false" />
        <activity
            android:name=".intent_design_Prac.ToggleSwitchActivity"
            android:exported="false" />
        <activity
            android:name=".intent_design_Prac.CheckBoxActivity"
            android:exported="false" />
        <activity
            android:name=".intent_design_Prac.RadioButtonActivity"
            android:exported="false" />
        <activity
            android:name=".intent_design_Prac.EditTextActivity"
            android:exported="false" />
        <activity
            android:name=".intent_design_Prac.IntentActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>